<div class="main_chat_top">
<div class="title">
精神と時の部屋
</div>
<div class="end_button">
<a href="#">チャットを終了する</a>
</div>
 </div>

 <div class="main_chat_contents">
 <div class="text_box">
 <div class="upper_text">
 <div class="name">
 太郎
 </div>
 <div class="date">
 2020/11/3(thu)12:22:22
 </div>
 </div>
 <div class="lower_text">
 <div class="text">
 よろしく
 </div>
 </div>
 </div>

 <div class="text_box">
 <div class="upper_text">
 <div class="name">
 太郎
 </div>
 <div class="date">
 2020/11/3(thu)12:22:22
 </div>
 </div>
 <div class="lower_text">
 <div class="text">
 よろしく
 </div>
 </div>
 </div>
 </div>

 <div class="main_chat_bottom">
  <div class="send_message">
  <input class="message" placeholder="type a message"> 
      <label class="image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
  </div>
  <input class="send" type="submit" value="送信">
 </div>

