<div class="side_bar_top">
<div class="account_button">
  <%# <a href="#">taro</a> %>
  <%= link_to current_user.name, edit_user_path(current_user) %>
</div>
<div class="room_button">
 <a href="#">チャットを作成する</a>
 </div>
 </div>

 <div class="side_bar_bottom">
 <div class="rooms">
 <a href="#">プログラム 学習1</a>
 </div>
  <div class="rooms">
 <a href="#">プログラム 学習2</a>
 </div>
 </div>