<div class="side_bar_top">
<div class="account_button">
  <%# <a href="#">taro</a> %>
  <%= link_to current_user.name, edit_user_path(current_user) %>
</div>
<div class="room_button">
 <%= link_to "チャットを始める", new_room_path%>
 </div>
 </div>

 <div class="side_bar_bottom">
 <div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
  </div>
</div>