.wrapper{
  display: flex;
}

.side_bar{
background-color: #253141;
width: 300px;
height: 100vh;
}

.side_bar_top{
background-color: #253141;
height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
}

.account_button a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none
}

.room_button{
  font-size: 10px;
}

.room_button a{
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px 14px;
  text-decoration: none
}

.side_bar_bottom{
background-color: #2f3e51;
height: calc(100vh - 100px);
padding: 0 20px;
overflow: scroll;
}

.rooms{
  margin: 20px 0 40px;
}

.rooms a{
  color: white;
  text-decoration: none;
}

.main_chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.main_chat_top{
  height: 100px;
  padding: 0 40px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.title{
  font-size: 24px;
  color: #333;
  /* margin-left: 40px; */
  margin-top: 36px;
}

.end_button{
  margin-top: 40px;
}

.end_button a {
  color: darkred;
  border: 1px solid darkred;
  padding: 20px 20px;
  text-decoration: none;
}

.main_chat_contents{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.text_box{
  /* padding-top: 10px; */
  margin: 10px 0 0 0;
}

.upper_text{
  display: flex;
}

.name{
  font-size: 16px;
  color: #434a54;
}

.date{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.lower_text{
  margin-top: 10px;
}

.text{
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}

.main_chat_bottom{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.send_message{
  background-color: white;
  display: flex;
  width: 100%;
}

.message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.send{
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}