.wrapper{
  display: flex;
}

.side_bar{
background-color: #253141;
width: 300px;
height: 100vh;
padding: 0 20px;
}

.side_bar_top{
height: 100px;
}

.side_bar_bottom{
background-color: #2f3e51;
height: calc(100vh - 100px);
}

.main_chat{
  background-color: #ffffff;
  width: calc(100% - 300px);
  padding: 0 40px;

}

.main_chat_top{
  height: 100px;
}

.main_chat_contents{
  background-color: #fafafa;
  height: calc(100vh - 100 -90);
  padding-top: 46px;
}

.main_chat_bottom{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 0;
}